@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

.MainContainer {
  width: 100%;
  max-width: 1500px;
  display: flex;
  flex-direction: column;
}

header {
  width: 92%;
  align-items: center;
  padding: 20px 0;
  margin: 0 auto;

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .ListBtn {
    display: flex;
    justify-content: space-between;
  }

  nav ul {
    display: flex;
    gap: 40px;
    list-style-type: none;
    padding: 16px 20px;
  }

  nav ul li a {
    font-weight: 500;
    font-size: 16px;
    line-height: 18.75px;
    color: rgba(82, 85, 96, 1);
  }

  nav ul li:first-child a {
    color: rgba(11, 7, 6, 1);
  }

  .DonateBtn {
    border-radius: 4px;
    gap: 10px;
    padding: 12px 32px;
    background-color: rgba(29, 33, 48, 1);
    color: rgba(255, 255, 255, 1);
    border: none;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 18.75px;
    margin-left: 20px;
  }
}

.HeaderHeroSection {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  text-align: center;

  .MainHeroHeading {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
  }

  .MainHeroHeading .date {
    font-weight: 500;
    font-size: 16px;
    line-height: 25.6px;
    color: rgba(29, 33, 48, 1);
  }

  .MainHeroHeading .SectionHeading h1 {
    width: 65%;
    font-weight: 700;
    font-size: 50px;
    line-height: 67.2px;
    color: rgba(29, 33, 48, 1);
    margin: 0 auto;
  }

  .HeaderHeroSection .SectionText p {
    font-weight: 400;
    font-size: 16px;
    line-height: 25.6px;
    align-items: center;
    color: rgba(82, 85, 96, 1);
  }

  .sectionImg {
    margin: 60px 0;
  }

}

.textContainer {
  width: 76%;
  height: auto;
  margin: 0 auto;
  padding-bottom: 20px;
}


.TextContainer-paragraph1,
.TextContainer-paragraph3,
.TextContainer-list li {
  font-weight: 400;
  font-size: 16px;
  line-height: 25.6px;
  color: rgba(82, 85, 96, 1);
}

.TextContainer-list li {
  margin-left: 18px;
}

.TextContainer-heading1 {
  padding-bottom: 25px;
  font-weight: 700;
  font-size: 48px;
  line-height: 57.6px;
  color: rgba(29, 33, 48, 1);
}

.TextContainer-heading2,
.TextContainer-heading3 {
  font-weight: 700;
  font-size: 28px;
  line-height: 42px;
  color: rgba(29, 33, 48, 1);
  padding: 25px 0;
}